<div class="logo">
	<img src="assets/img/pizza-bling.gif">
</div>
<div class="container">
	<div class="item" id="not-devoured"></div>
	<div class="item" id="devoured"></div>
	<div class="add_pizza">
		<input type="text" id="newPizza">
		<button id="submit">Add Pizza!</button>
	</div>
</div>